<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeTile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WeTile.Properties.Settings>
            <setting name="citySetting" serializeAs="String">
                <value>New York</value>
            </setting>
            <setting name="unitSetting" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="colorSetting" serializeAs="String">
                <value>16, 16, 16</value>
            </setting>
            <setting name="positionSetting" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="startupSetting" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="opacitySetting" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="useAccentSetting" serializeAs="String">
                <value>False</value>
            </setting>
        </WeTile.Properties.Settings>
        <TestWeather.Properties.Settings>
            <setting name="citySetting" serializeAs="String">
                <value>New York</value>
            </setting>
            <setting name="unitSetting" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="colorSetting" serializeAs="String">
                <value>16, 16, 16</value>
            </setting>
            <setting name="positionSetting" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="startupSetting" serializeAs="String">
                <value>Yes</value>
            </setting>
        </TestWeather.Properties.Settings>
    </userSettings>
</configuration>